# Local testing inference images
inference_images

# Large datasets
datasets/raw/*
datasets/split/*
# But keep the .gitkeep files
!datasets/raw/.gitkeep
!datasets/split/.gitkeep

# Logs
runs

# Checkpoints
checkpoints/*
# But keep this file
!checkpoints/put_models_here.txt

# Virtual env
py_env/